<div class="mb-8 prose">
  <h3>Lightning-Fast Rails applications with hotwire</h3>
  <p> We specialize in building high-performance, interactive web applications using Hotwire (Stimulus + Turbo). Our approach delivers blazing-fast page loads, smooth interactions, and minimal JavaScript, ensuring a seamless user experience. Whether you're upgrading an existing app or starting from scratch, we help you create modern, efficient, and scalable applications with the power of Hotwire. 🚀</p>
  <a href="mailto:mosesgathuku95@gmail.com" target="_blank">Send an email to Moses</a>
</div>
