<div class="p-3 bg-gray-100 rounded-md shadow-sm">
  <p class="font-semibold"> <%= order.number %></p>
  <p class="text-gray-500">Ordered on <span class="text-sm"><%= order.created_at %></span></p>
</div>
