<%= turbo_frame_tag :orders, src: e8_order_path(0), loading: :lazy, data: { controller: :frame } do %>
  <div class="space-y-3 text-3xl font-extrabold text-center">
    <div><%= Time.current.to_i %></div>
    <div><%= Time.current.to_i %></div>
    <div><%= Time.current.to_i %></div>
  </div>
<% end %>
