<%= link_to example_path(example) do %>
<li>
  <div class="p-3 rounded-lg hover:bg-gray-100">
    <div class="bg-red-100 rounded-lg ring-1 ring-red-100">
      <img class="inset-0 w-full h-full" src="https://tailwindui.com/img/category-thumbnails/marketing/footers.png" alt="">
    </div>
    <span class="block mt-3 font-medium text-gray-90"><%= example.name %></span>
  </div>
</li>
<% end %>
