<div class="text-center bg-gray-900 px-6 py-2.5 sm:px-3.5">
  <p class="text-sm leading-6 text-white">
    <a href="https://railshotwirejobs.com?utm_source=hotwiredcases.dev" target="_blank">
      <strong class="font-semibold">Rails + Hotwire Jobs</strong>
      <svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
      Check this jobs where you will work with Rails and Hotwire everyday&nbsp;
      <span aria-hidden="true">&rarr;</span>
    </a>
  </p>
</div>
