<div class="text-center" id="subscribe">
  <h2 class="text-3xl font-bold tracking-tight text-red-700">Get notified when a new example is added</h2>
  <div class="mt-6">
    <span class="text-lg font-bold">Thank you for subscribing!</span>
  </div>
</div>
