<div class="text-center">
  <span class="text-3xl font-extrabold text-red-700 md:text-7xl">A collection of Hotwire examples with sample code</span>
</div>
<div class="mt-6">
  <ul class="grid grid-cols-1 md:grid-cols-3">
    <li>
      <div class="p-3 rounded-lg hover:bg-gray-100">
        <div class="bg-red-100 rounded-lg ring-1 ring-red-100">
          <img class="inset-0 w-full h-full" src="https://tailwindui.com/img/category-thumbnails/marketing/footers.png" alt="">
        </div>
        <span class="block mt-3 font-medium text-gray-90">Inline edit</span>
      </div>
    </li>
    <li>
      <div class="p-3 rounded-lg hover:bg-gray-100">
        <div class="bg-red-100 rounded-lg ring-1 ring-red-100">
          <img class="inset-0 w-full h-full" src="https://tailwindui.com/img/category-thumbnails/marketing/footers.png" alt="">
        </div>
        <span class="block mt-3 font-medium text-gray-90">Modal</span>
      </div>
    </li>
    <li>
      <div class="p-3 rounded-lg hover:bg-gray-100">
        <div class="bg-red-100 rounded-lg ring-1 ring-red-100">
          <img class="inset-0 w-full h-full" src="https://tailwindui.com/img/category-thumbnails/marketing/footers.png" alt="">
        </div>
        <span class="block mt-3 font-medium text-gray-90">Pagination</span>
      </div>
    </li>
  </ul>
</div>
