<div class="text-center">
  <span class="text-3xl font-extrabold text-red-700 md:text-7xl">A collection of Hotwire examples with sample code</span>
</div>
<div class="mt-6">
  <ul class="grid grid-cols-1 md:grid-cols-3">
    <%= render partial: "home/example", collection: @examples %>
  </ul>
</div>
