<div class="max-w-4xl mx-auto text-center">
  <span class="text-2xl font-extrabold text-red-700 md:text-7xl">
    Hotwire use case with sample code
  </span>
  <span class="block mt-3 text-lg font-semibold text-gray-700">
    Hotwire is the latest way of building reactive application with little or no visible javascript.
    This collection contains some use case that you can apply hotwire in your Ruby on Rails app.
  </span>
</div>
<div class="mt-24">
  <ul class="grid grid-cols-1 md:grid-cols-3">
    <%= render partial: "home/example", collection: @examples %>
  </ul>
</div>
<div class="mb-16 mt-28">
  <hr class="my-6">
  <%= render "subscribe", subscriber: Subscriber.new %>
</div>
