<div class="space-y-3">
  <% 10.times do %>
    <div class="p-3 bg-gray-100 rounded-md shadow-sm animate-pulse">
      <div class="w-24 h-3 bg-gray-500 rounded"></div>
      <div class="w-64 h-3 mt-3 bg-gray-500 rounded"></div>
    </div>
  <% end %>
</div>
