  <div class="mb-8">
    <hr>
    <div class="flex justify-end px-6 mt-3">
      <span class="text-sm text-gray-300 hover:text-gray-600">
        By
        <a href="https://x.com/Gathukumose" target="_blank" class="underline">Moses Gathuku</a>
      </span>
    </div>
    <div class="space-x-3 text-center">
        <a href="https://github.com/gathuku/hotwiredcases" target="_blank" class="text-sm text-gray-300 underline hover:text-gray-600">Hotwired cases is open source</a>
        <a href="https://discord.gg/mX85yPjPsE" target="_blank" class="text-sm text-gray-300 underline hover:text-gray-600">Join discord group</a>
    </div>
  </div>
