<div class="shadow-xs bg-gray-50">
  <div class="max-w-5xl mx-auto">
    <nav class="py-4">
      <div class="py-2">
        <%= link_to root_path, class: "px-3 text-3xl font-extrabold leading-none text-relaxed" do %>
          Hotwired Cases
        <% end %>
      </div>
    </nav>
  </div>
</div>
