<div class="shadow-xs bg-gray-50">
  <div class="max-w-5xl mx-auto">
    <nav class="flex items-center justify-between p-3">
      <div>
        <%= link_to root_path, class: "text-xl md:text-3xl font-extrabold leading-none text-relaxed" do %>
          Hotwired Cases
        <% end %>
      </div>
      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="gathuku" data-color="#FF5F5F" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    </nav>
  </div>
</div>
