<div class="shadow-xs bg-gray-50">
  <div class="max-w-5xl mx-auto">
    <nav class="py-4">
      <div class="py-2">
        <span class="text-3xl font-extrabold leading-none text-relaxed">
          Hotwired Cases
        </span>
      </div>
    </nav>
  </div>
</div>
